# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Examples/AnIntroToR/tmp/bar_chart.png
Examples/AnIntroToR/tmp/color_linechart.png
Examples/AnIntroToR/tmp/done
Examples/AnIntroToR/tmp/price_scatterplot.png
Examples/AnIntroToR/tmp/_RInput_.xlsx
Examples/AnIntroToR/tmp/_ROutput_.xlsx
Examples/AnIntroToR/tmp/sizes_barchart.png
Examples/AnIntroToR/~$AnIntroToR.xlsm
*.tmp
